rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /quiz-images/{file} {
      allow read: if true;
      allow write: if request.auth != null &&
        request.auth.token.email in ['patrik.soder@gmail.com', 'hellekk@gmail.com'];
    }
  }
}
